:root {
  --fontColor: #ffffff;
  --Accent1: #00ff00;
  --Accent2: #ff00ff;
}

body {
  font-family: "Helvetica", Sans-Serif;
  size: 12px;
  color: var(--fontColor);
  padding: 0px;
  margin: 0px;
  background-color: hsl( 0 0% 15% );
  background-image: none;
  background-size: 200px 200px;
  background-repeat: repeat repeat;
}

.container {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-columns:  300px auto 300px;
}

.panel {
  margin: 12px;
  padding: 12px;
  background-color: hsla( 0 0% 15% / 80%);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, hsla(0 0% 100% / 25%), hsla(0 0% 0% / 100%));
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
}

.notification{
  visibility: hidden;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index:100;
  width: 300px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  padding: 12px;
}

.dialog{
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:100;
  width: 300px;
  max-height: 500px;
}

#listOfImages{
  height: 100%;
}

#listOfEffects{
  height: 100%;
}

#effectSettings{
  grid-column-start: 2;
}

#addImageDialog{
  visibility: hidden;
  position: fixed;
  top: 240px;
  right: 24px;
}

button{
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;
  border-color: var(--Accent1);
  color: var(--fontColor);
  size: 12px;
  background-color: #333333;
  padding: 8px;
  margin: 4px;
}
